venv/
# Record of prices and time
log.txt
# If you use cron to run this script periodically you can declare your environmental variables and
# set your crontab in this file and then just run the command ```crontab -e < cronfile.dat``` to get it started
cronfile.dat